
body {
	    background-image: url('https://media.giphy.com/media/hNPY1jwrwVPsk/giphy.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:60px;
    width: 70%;
    margin:10;

}
nav ul, footer ul {
    font-family:'futura', 'helvetica';
	text-align: center;
    padding: 4px;
    list-style: none;
    font-weight: lighter;
}
nav ul li, footer ul li {
    text-align: center;
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: ##ffffff;
}
a:hover {
    text-decoration: none;
	color: thistle;
}
h1 {
	color: #ffffff;
    font-size: 60px;
	text-align: left;
    font-family:'futura', 'helvetica';
}
h2 {
    font-size: 25px;
    line-height: 4px;
    color: ##ffffff;
    font-family:'futura', 'helvetica';
	text-decoration: none;
	text-align: center;
}
p {
    font-size: 14px;
	text-decoration: none;
    color: ##ffffff;
	text-align: center;
}
footer {
    border-top: 5px solid #thistle;
    font-size: 10px;
	text-decoration: none;
       width: 30%; 
	text align: right;
}


