

body {
	    background-image: url('https://media.giphy.com/media/hNPY1jwrwVPsk/giphy.gif');
    background-size: cover;
    
    
    
    height: 200px;
    padding:60px;
    width: 70%;
    margin:10;

}
nav ul, footer ul {
    font-family:'futura', 'helvetica';
	text-align: center;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    text-align: left;
    margin-right: 0px;
}

.container {
	margin: 10px;
	background-color: thistle;
  width: 200px;
	border: none;
	opacity: 0.3;
	
}

a {
    text-decoration: none;
    color: floralwhite;
}
a:hover {
    text-decoration: none;
	color: thistle;
}
h1 {
	color: white;
    font-size: 25px;
	text-align: left;
    font-family:'futura', 'helvetica';
	font-weight: lighter;
}
h2 {
    font-size: 30px;
    line-height: 4px;
    color: sandybrown;
    font-family:'futura', 'helvetica';
	text-decoration: none;
	text-align: right;
}
img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  border-radius: 50%;
  float: right;
}
h4 {
    font-size: 20px;
	text-decoration: none;
    color: white;
	text-align: center;
	font-family:'futura','helvetica';
}
#emphasis {
	font-family:'helvetica';
	font-color: hotpink;
	font-size: 18px;
}
p {
	font-size: 18px;
	font-family:'futura','helvetica';
	color: thistle;
	font-stytle: italic;
}
footer {
    border-top: 5px solid #thistle;
    font-size: 15px;
	text-decoration: none;
       width: 30%; 
	text align: right;
}
