
body {
	background-image: url("https://i.giphy.com/media/J5A1a5C0j1bQuteCtq/giphy.webp")
	background-color: #bce6eb;
    margin: 60px auto;
    width: 70%;

}
nav ul, footer ul {
    font-family:'Times', 'Arial';
    padding: 4px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: ##ffffff;
}
a:hover {
    text-decoration: underline;
}
h1 {
	color: #ffffff;
    font-size: 3em;
    font-family:'Times', 'Arial';
}
h2 {
    font-size: 1.5em;
    line-height: 1em;
    color: ##ffffff;
    font-family:'Times', 'Arial';
}
p {
    font-size: 1.5em;
    line-height: 1.9em;
    color: ##ffffff;
}
footer {
    border-top: 5px solid #ffffff;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
