
body {
	background-color: #0d1a21;
    margin: 60px auto;
    width: 70%;

}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 4px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: ##ffffff;
}
a:hover {
    text-decoration: underline;
}
h1 {
	color: #ffffff;
    font-size: 4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    line-height: 1.9em;
    color: ##ffffff;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 2em;
    line-height: 1.9em;
    color: ##ffffff;
}
footer {
    border-top: 5px solid #ffffff;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
